cmake_minimum_required(VERSION {{cmakeVersionMin}}...{{cmakeVersionMin}})

if(${CMAKE_VERSION} VERSION_LESS 3.12)
    cmake_policy(VERSION ${CMAKE_MAJOR_VERSION}.${CMAKE_MINOR_VERSION})
endif()

project({{project.name}} VERSION {{project.version}} LANGUAGES {{project.lang}})
